<div class="details">
  <li class="list-group-item">
    <div class="repos d-flex">
      <p class="card-text mr-auto">Repos Url</p>
      <a href={{user.html_url}} target="_top ">Click here to view</a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="view d-flex">
      <p class="card-text mr-auto ">View Repos</p>
      <p>
        <a href={{user.public_repos}} target="_top ">Click here to view</a>
      </p>
    </div>
  </li>
  <li class="list-group-item">
    <div class="profile d-flex ">
      <p class="card-text mr-auto">Number of Repos</p>
      <p class="card-text float-right ">{{user.public_repos}}</p>
    </div>
  </li>
  <div class="card-body">
    <div class="bio">
      <h3 class="">BIO UPDATE</h3>
      <p>{{user.bio}}</p>
    </div>
  </div>
</div>
