<div class="container-fluid">
  <div class="card" *ngFor='let repo of newRepos.newRepos'>
    <div class="card-header">
      <h2>{{repo.name}}
      </h2>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h2>{{repo.owner.login}}</h2>
        <p>{{repo.language}}.</p>
        <p>{{repo.git_url}}</p>
        <p>{{repo.created_at}}</p>
        <p>{{repo.size}}</p>
        <p>{{repo.html_url}}</p>

        <footer class="blockquote-footer">Someone famous in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<div *ngFor='let repo of newRepos.newRepos;let i = index'>
</div>
