<div class="container-fluid d-flex flex-wrap">
  <div class="card border-success mb-3 m-2 row" *ngFor='let repo of newRepos.newRepos' appHoover>
    <div class="card-header bg-transparent border-success">
      <h2>{{repo.name | uppercase}}
      </h2>
      <button type="button" class="btn btn-outline-warning" (click)='toogleDetails()'>More</button>

    </div>
    <div class="card-body text-success">
    </div>
    <div class="card-footer bg-transparent border-success d-flex">
      <h2 class="mr-auto">USER</h2>
      <h2>{{repo.owner.login}}</h2>
    </div>
  </div>
</div>
