<div class="container">
  <app-search></app-search>
  <div class="row">
    <div class="card-deck w-50 col-md-4">
      <div class="card">
        <img class="card-img-top " src={{user.avatar_url}} alt=" ">
        <div class="card-body ">
          <div class="user-name">
            <h4 class="card-text">{{user.name}}</h4>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex">
              <p class="card-text mr-auto">Login Name</p>
              <p class="card-text">{{user.login}}</p>
            </div>
          </li>
          <li class="list-group-item">
            <div class="more-deatils">
              <app-profile-details [user]='user'></app-profile-details>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <app-repo-view></app-repo-view>
    </div>
  </div>
</div>
